@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
.sec-img {
  margin-top: 10px;
  /* display: flex; */
  /* padding: 20px; */
  /* background-color: aqua; */
}
.security {
  width: 150px;
  margin: auto;
  /* background-color: aqua; */
}
@media screen and (max-width: 780px) {
  .security {
    width: 80px;
    margin: auto;
    /* background-color: aqua; */
  }
  .sec-img img {
    width: 90px;
    /* display: flex; */
    /* padding: 20px; */
    /* background-color: aqua; */
  }
}
